{% extends 'base.html.twig' %}

{% block title %}Edit Plot{% endblock %}

{% block body %}
    <div class="container">
    <h1>Edit Plot</h1>

    {{ include('land/plot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('land_plot_index') }}">back to list</a>

    {{ include('land/plot/_delete_form.html.twig') }}
    </div>
        {% endblock %}
