{% extends 'base_all.html.twig' %}
{% block title %}
    Contact - TerrainsMaisons.com
{% endblock %}

{% block description %}
    <!-- Meta Description -->
    <meta name="description" content="Une Maisonà construire , un Terrain à vendre , un Lotissement à lancer ? TerainsMaisons.com">
{% endblock %}


{% block body %}

    <div class="container">

        <div class="col-12 d-flex flex-column justify-content-center">
            <img src="images/selling_land_couv.jpg" alt="Vendre mon Terrain sur Terrains Maisons . com" class="img-fluid">
            <h1 class="display-5 text-center">Contacter Terrains Maisons .com </h1>

            <p>
                Une <strong>Maison</strong> à construire , un <strong>Terrain</strong> à vendre , un <strong>Lotissement</strong> à lancer ?

            </p>

            <p>
                L'équipe de Terrains Maisons .com est disponible pour vous.
            </p>

        </div>

            <div class="row d-flex flex-column justify-content-center align-items-center m-1">


                <div class="col-12 col-lg-6 ">
                    <!-- FORMULAIRE DE CONTACT HUBSPOT -->
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                        hbspt.forms.create({
                            portalId: "5313721",
                            formId: "78d6aeb1-7a7a-47d2-8040-e05e29a68498"
                        });
                    </script>
                </div>
            </div>

        </div>


    <style>
        h1, h2, h3, h4 {
            padding: 1.5rem;
            text-align: justify;
        }
        p{
            padding: 0.2rem;
            text-align: justify;
            text-align: center;
        }
    </style>

{% endblock %}


