{% extends 'base_all.html.twig' %}
{% block title %}
    Guide Utilisateur - TerrainsMaisons.com
{% endblock %}

{% block description %}
    <!-- Meta Description -->
    <meta name="description" content="Guide Utilisateur TerainsMaisons.com">
{% endblock %}


{% block body %}

    <div class="container">

        <div class="col-12 d-flex flex-column">
            <img src="images/user-guide-couv.jpg" alt="Guide Utilisateur Terrains Maisons . com" class="img-fluid">
            <h1 class="display-5">GUIDE D’UTILISATION TerrainsMaisons.com</h1>
        </div>
        <div class="row">


            <div class="col-12">

                <h2 class="display-6"> Quel est son principe ?</h2>
                <p>

                    <strong> TerrainsMaisons.com </strong> est un outil qui présente différents projets de construction sur les
                    lotissements disponibles en Champagne-Ardenne.
                </p>
                <p>
                    Grâce à notre application, vous pourrez <strong>consulter toutes les annonces possibles sur vos terrains
                        choisis. </strong>
                    Avec un système de configuration, croisez vos critères.
                </p>
                <p>
                    Une maison avec 4 Chambres à Cormontreuil ? Pas de problème !<strong>Tout est visible en quelques clics !</strong>
                </p>


                <h2 class="display-6">Comment ça fonctionne ?</h2>
                <p>
                    Très facile d’utilisation, vous pouvez commencer par<strong> choisir </strong> votre projet soit par <strong>commune</strong> ou par
                    votre <strong>modèle de maison coup de cœur.</strong>
                </p>
                <h3>A- Je choisis mon projet par lotissement</h3>

                <p>
                    Sur la page vitrine, sélectionnez la commune de votre choix pour accéder au lotissement.
                </p>
                <p>
                    Une fois que vous aurez cliqué sur <strong>“voir les terrains”</strong>, vous arriverez face à des numéros de lots
                    avec plusieurs critères : la surface, le prix et son état.
                </p>
                <p>
                    Trouvez la parcelle de terrain qui rentre dans votre budget. Cliquez sur “Maisons Compatibles”, et
                    <strong>consultez tous les projets de construction possibles !</strong>
                </p>
                <p>
                    À la suite de ça, TerrainsMaisons.com vous présentera une sélection de projets de construction,
                    rangés dans l’ordre de prix croissant.
                </p>
                <p>
                    Si vous voulez affiner vos recherches, choisissez le nombre de chambres. Et demandez un devis pour
                    le projet qui vous intéresse !
                </p>
                <h3>B- Je choisis mon projet par Modèle de maison</h3>
                <p>
                    Lorsque vous êtes sur la page vitrine, cliquez sur <strong>“Rechercher par Maison”.</strong>
                </p>
                <p>
                    Ensuite, vous aurez face à vous une sélection de maisons, de différents constructeurs dans la Marne.
                </p>
                <p>
                    Si vous avez des critères précis, <strong>vous pouvez affiner vos recherches </strong> en indiquant : le nombre de
                    chambres, le type de modèle.
                </p>
                <p>
                    Vous avez un coup de cœur sur un modèle ? Sélectionnez-le !
                </p>
                <p>
                    <strong>Une fiche descriptive est attribuée pour toutes les maisons.</strong>
                    Si vous cliquez sur le logo du constructeur, vous atterrirez directement sur son site internet !
                    En bas de la page descriptive de votre modèle, vous avez la question “Sur quel terrain construire
                    cette maison ?”
                </p>

                <p>
                    En fonction de sa compatibilité avec les communes, le Plan Local d’Urbanisme (PLU) , la taille des
                    lots, <strong>des projets de construction vous seront proposés.</strong>

                </p>

                <p>
                    Cliquez sur la commune qui vous intéresse, et choisissez votre projet préférez en fonction de votre
                    budget et de la surface du terrain.
                </p>
                <p>
                    Pour demander un devis, cliquez sur le lot et envoyez votre demande !
                </p>

                <p class="pt-5 pb-5" >
                    Si vous avez des questions, n’hésitez pas à nous en informer.
                    Bonne visite 😊
                </p>
            </div>

        </div>
    </div>

    <style>
        h1, h2, h3, h4 {
            padding: 1.5rem;
            text-align: justify;
        }
        p{
            padding: 0.2rem;
            text-align: justify;
        }
    </style>

{% endblock %}


