{% extends 'base_all.html.twig' %}
{% block title %}
    Guide Utilisateur - TerrainsMaisons.com
{% endblock %}

{% block description %}
    <!-- Meta Description -->
    <meta name="description" content="Guide Utilisateur TerainsMaisons.com">
{% endblock %}


{% block body %}

    <div class="container">

        <div class="col-12 d-flex flex-column">
            <img src="images/user-guide-couv.jpg" alt="Guide Utilisateur Terrains Maisons . com" class="img-fluid">
            <h1>GUIDE D’UTILISATION TerrainsMaisons.com</h1>
        </div>
        <div class="row">


            <div class="col-12">

                <h2> Quel est son principe ?</h2>
                <p>

                    TerrainsMaisons.com est un outil qui présente différents projets de constructions sur les
                    lotissements disponibles en Champagne-Ardenne.
                </p>
                <p>
                    Grâce à notre application, vous pourrez consulter toutes les annonces possibles sur vos terrains
                    choisis.
                    Avec un système de configuration, croiser vos critères.
                </p>
                <p>
                    Une maison avec 4 Chambres à Cormontreuil ? Pas de problème ! Tout est visible en quelques clics !
                </p>


                <h2>Comment ça fonctionne ?</h2>
                <p>
                    Très facile d’utilisation, vous pouvez commencer par choisir votre projet soit par commune ou par
                    votre modèle de maison coup de cœur.
                </p>
                <h3>A- Je choisi mon projet par lotissement</h3>

                <p>
                    Sur la page vitrine, sélectionnez la commune de votre choix pour accéder au lotissement.
                </p>
                <p>
                    Une fois que vous aurez cliqué sur “voir les terrains”, vous arriverez face à des numéros de lots
                    avec plusieurs critères : la surface, le prix et son état.
                </p>
                <p>
                    Trouvez la parcelle de terrain qui rentre dans votre budget. Cliquez sur “Maisons Compatibles”, et
                    consultez tous les projets de construction possibles !
                </p>
                <p>
                    À la suite de ça, TerrainsMaisons.com vous présentera une sélection de projets de construction,
                    rangés dans l’ordre de prix croissant.
                </p>
                <p>
                    Si vous voulez affiner vos recherches, choisissez le nombre de chambres. Et demandez un devis pour
                    le projet qui vous intéresse !
                </p>
                <h3>B- Je choisi mon projet par Modèle de maison</h3>
                <p>
                    Lorsque vous êtes sur la page vitrine, cliquez sur “Rechercher par Maison”.
                </p>
                <p>
                    Ensuite, vous aurez face à vous une sélection de maisons, de différents constructeurs dans la Marne.
                </p>
                <p>
                    Si vous avez des critères précis, vous pouvez affiner vos recherches en indiquant : le nombre de
                    chambres, le type de modèle.
                </p>
                <p>
                    Vous avez un coup de cœur sur un modèle ? Sélectionnez-le !
                </p>
                <p>
                    Une fiche descriptive est attribuée pour toutes les maisons.
                    Si vous cliquez sur le logo du constructeur, vous atterrirez directement sur son site internet !
                    En bas de la page descriptive de votre modèle, vous avez la question “Sur quel terrain construire
                    cette maison ?”
                </p>
                <p>
                    En fonction de sa compatibilité avec les communes, le Plan Local d’Urbanisme (PLU) , la taille des
                    lots, des projets de construction vous seront proposés.
                    Cliquez sur la commune qui vous intéresse, et choisissez votre projet préférez en fonction de votre
                    budget et de la surface du terrain.
                    Pour demander un devis, cliquez sur le lot et envoyez votre demande !
                </p>
                <p>
                    Si vous avez des questions, n’hésitez pas à nous en informer.
                    Bonne visite 😊


                </p>
            </div>

        </div>
    </div>

{% endblock %}


