{% extends 'base.html.twig' %}

{% block title %}Edit Allotment{% endblock %}

{% block body %}
    <div class="container">


    <h1>Editer Lotissement</h1>

        <div class="d-flex flex-row">

            <a href="{{ path('land_allotment_index') }}" class="btn btn-outline-secondary">Retour</a>
            {{ include('land/allotment/_delete_form.html.twig') }}

        </div>
            {{ include('land/allotment/_form.html.twig', {'button_label': 'Update'}) }}


    </div>
        {% endblock %}
