{% extends 'base.html.twig' %}

{% block title %}New House{% endblock %}

{% block body %}

    <div class="container">
    <h1>Nouveau Modèle de Maison</h1>

    {{ include('house/_form.html.twig') }}


<div class="row">
    <div class="col-sm-12">


    <a href="{{ path('house_index') }}"><button class="btn btn-secondary btn-block">Retour</button></a>
    </div>
</div>


    </div>

{% endblock %}
