{% extends 'base.html.twig' %}

{% block title %}New State{% endblock %}

{% block body %}
    <h1>Create new State</h1>

    {{ include('land/state/_form.html.twig') }}

    <a href="{{ path('land_state_index') }}">back to list</a>
{% endblock %}
